services:
  backend:
    build: ../apps/backend
    ports:
      - "8000:8000"
    volumes:
      - ../apps/backend:/app
    # healthcheck:
    #   test: [
    #     "CMD-SHELL",
    #     "curl --fail --silent --show-error http://localhost:8000/health || exit 1"
    #   ]
    #   interval: 30s
    #   timeout: 10s

  frontend:
    build: ../apps/frontend
    ports:
      - "5173:5173"
    volumes:
      - ../apps/frontend:/app
    # depends_on:
    #   backend:
    #     # condition: service_healthy
    environment:
      - VITE_API_URL=http://localhost:8000
