* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

.chat-panel {
  position: fixed;
  top: 1%;
  left: 0.5%;
  width: 29%;
  height: 98%;
  background: rgba(37, 37, 37, 0.9);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.recipe-panel {
  position: fixed;
  top: 1%;
  right: 0.5%;
  width: 29%;
  height: 98%;
  background: rgba(37, 37, 37, 0.9);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 1000;
  font-family: Arial, sans-serif;
}